<div id="Bienvenida">
    <h1>¡Bienvenido, @ViewBag.Usuario.Username!</h1>
</div>
<button class="button" ><span>Hover </span></button>
<button class="button" style="vertical-align:middle"><a href='@Url.Action("Login","Account")'><span>Volver al Login</span></a></button>
<script type="text/javascript" src="/js/confetti-index.js"></script>