
<form method="get" action='@Url.Action("CambiarContrasena")' autocomplete="off">
    <div class="container">
        <h2>Cambio de Contraseña</h2>
        <div class="row">
            <div class="col-25">
                <label for="fname">Mail:</label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="mail" placeholder="Su mail..">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">Pregunta:</label>
            </div>
            <div class="col-75">
                <select>
                    <option selected>Seleccione</option>
                    @for(int i=0;i<ViewBag.PreguntasEleccion.Count;i++){
                        <option value=@i>@ViewBag.PreguntasEleccion[i].Contenido</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="fname">Respuesta:</label>
            </div>
            <div class="col-75">
                <input type="text" id="fname" name="respuesta" placeholder="Su respuesta..">
            </div>
        </div>
        <div class = "BotonLogin">
            <h3><a href='@Url.Action("Login","Account")'><input type="submit" value="Cambiar contraseña"></input></a></h3>
        </div>
    </div>
</form>