USE [master]
GO
/****** Object:  Database [TpLogin]    Script Date: 4/10/2023 08:44:56 ******/
CREATE DATABASE [TpLogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TpLogin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TpLogin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TpLogin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TpLogin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TpLogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TpLogin]
GO
/****** Object:  User [alumno]    Script Date: 4/10/2023 08:44:56 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 4/10/2023 08:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta](
	[idPregunta] [int] IDENTITY(1,1) NOT NULL,
	[contenido] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pregunta] PRIMARY KEY CLUSTERED 
(
	[idPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/10/2023 08:44:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Contrasena] [varchar](50) NOT NULL,
	[Respuesta] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[idPregunta] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pregunta] ON 

INSERT [dbo].[Pregunta] ([idPregunta], [contenido]) VALUES (1, N'¿Cómo se llamaba tu escuela primaria?')
INSERT [dbo].[Pregunta] ([idPregunta], [contenido]) VALUES (2, N'¿Cómo se llamaba tu mascota de la infancia?')
INSERT [dbo].[Pregunta] ([idPregunta], [contenido]) VALUES (3, N'¿Qué querías ser cuando seas grande?')
SET IDENTITY_INSERT [dbo].[Pregunta] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Pregunta] FOREIGN KEY([idPregunta])
REFERENCES [dbo].[Pregunta] ([idPregunta])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Pregunta]
GO
USE [master]
GO
