html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
body {
  background-color: rgb(180, 180, 180);
  display: flex;
  justify-content: center;
}
footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

/*LOGIN*/
.container{
  margin-top: 150px;
  padding: 50px;
  display: flex;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  border: 2px solid rgb(133, 132, 132);
  background-color: rgb(150, 149, 149);
  border-radius: 40px;
}
.BotonLogin [type=submit]{
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: rgb(0, 71, 224);
}
a {
  color:rgb(83, 83, 83);
}
#olvidada {
  font-size: 12px;
}

/*REGISTRO*/
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=text], select, textarea, input[type=password], input[type=date] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}